tbody {
    align-items: center;
}

.tab {
    padding: 3%;
    margin-bottom: 15px;
}

.hautListEmployees {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    margin-bottom: 30px;

}
.titre2 {
    color: black;
}

th {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4879F6;
    color: white;
    text-align: center;
    width: calc(100% / 3);
}
tr{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.add-employee-button {
    background-color: #4879F6;
    color: white;
    padding: 1%;
    border: none;
    border-radius: 0.5vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.add-employee-button:hover{
    cursor: pointer;
    opacity: 80%;
}

table {
    width: 100%;
    justify-content: space-between;
    border-radius: 0.2vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    text-align: center;
}

td {
    text-align: center;
    width: auto;
}
td img{
    width: 2vw;
    height: auto;
}
td img:hover{
    cursor: pointer;
}