.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4%;
    justify-content: center;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
.title img{
    margin-right: 4%;
    width: 5vw;
    height: 5vw;
}
.login-form {
    margin-top: 2%;
    width: 60%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2%;
    border-radius: 0.8vw;
    background-color: rgb(220, 220, 220);
    box-shadow: 0vw 0.4vw 0.6vw rgba(207, 207, 207, 0.1);
}

.login-form label {
    width: 100%;
    text-align: left;
    margin-top: 5%;
}

.login-form input {
    align-self: flex-start;
    padding: 1.2%;
    border-radius: 0.4vw;
    border: none;
}

/* Style du bouton de soumission */
.login-form .submitLogin {
    margin-top: 4%;
    color: white;
    background-color: #4879F6;
    border: none;
    border-radius: 0.6vw;
    width: 30%;
    padding: 1%;
    cursor: pointer;
    box-shadow: 0.2vw 0.2vw 1vw 0vw rgb(205, 205, 205);
    margin-left: auto;
    margin-right: auto;
}

.login-form .submitLogin:hover {
    opacity: 80%;
}

.input-display{
    margin-top: 2%;
    border-radius: 0.2vw;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    background-color: white;
}
.input-display input{
    width: 100%;
    padding: 1%;
}
.input-display .input-icon{
    border-right: 2px solid black;
    padding: 1%;
    font-size: 1.7vw;
}
.login-container a{
    margin-top: 4%;
}
.remember-display{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.remember-display input{
    width: 1.5vw;
    height: 1.5vw;
}

.remember-display p{
    margin-left: 2%;
}

/* Styles pour les tablettes */
@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
}

/* Styles pour les smartphones */
@media (max-width: 768px) {
    .login-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .login-form label{
        text-align: center;
    }
    .login-form {
        align-items: center;
        width: 100%;
    }
    .remember-display{
        width: 100%;
        justify-content: center;
    }
    .input-display .input-icon{
        font-size: 2.5vw;
    }
    .remember-display input{
        content: '';
        display: block;
        width: 3vw;
        height: 3vw;
        border: 2px solid #000;
        background-color: #fff;
        border-radius: 4px;
    }
}

/* Styles pour les petits smartphones */
@media (max-width: 480px) {
    .container {
        padding: 10px;
    }
}
