/* Centrage de la fenêtre d'alerte */
.fenetre-alerte {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  position: fixed; /* Important pour centrer sur la page */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrage */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  background-color: white;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 0.5vw;
  z-index: 1000;
}

/* Contenu de l'alerte */
.produit-alerte {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produit {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Bouton principal */
.update-task-bouton {
  text-decoration: none;
  background-color: #4879F6;
  color: white;
  border-radius: 0.2vw;
  padding: 2% 4%;
  margin-top: 2%;
  width: fit-content;
  text-align: center;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.update-task-bouton:hover {
  opacity: 80%;
  cursor: pointer;
}

/* Croix de fermeture */
.bouton-fermeture {
  position: absolute; /* Important pour la positionner dans la fenêtre */
  top: 10px;
  right: 15px;
  cursor: pointer;
  color: red;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
}

/* Map elements */
.map-rectangle {
  fill-opacity: 0.8;
}

.map-rectangle:hover {
  fill-opacity: 1;
}
