.recovery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1%;
    justify-content: center;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}
.title img{
    margin-right: 4%;
    width: 5vw;
    height: 5vw;
}
.recovery-form {
    width: 60%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2%;
    border-radius: 0.8vw;
    background-color: rgb(220, 220, 220);
    box-shadow: 0vw 0.4vw 0.6vw rgba(207, 207, 207, 0.1);
}

.recovery-form label {
    width: 100%;
    text-align: left;
    margin-top: 5%;
}

.recovery-form input {
    align-self: flex-start;
    padding: 1.2%;
    border-radius: 0.4vw;
    border: none;
}
.input-response{
    margin-top: 2%;
}

/* Style du bouton de soumission */
.recovery-form .submitLogin {
    margin-top: 4%;
    color: white;
    background-color: #4879F6;
    border: none;
    border-radius: 0.6vw;
    width: auto;
    padding: 1%;
    cursor: pointer;
    box-shadow: 0.2vw 0.2vw 1vw 0vw rgb(205, 205, 205);
}

.recovery-form .submitLogin:hover {
    opacity: 80%;
}

.input-display{
    margin-top: 2%;
    border-radius: 0.2vw;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    background-color: white;
}
.input-display input{
    width: 100%;
    padding: 1%;
}
.input-display img{
    border-right: 2px solid #757575;
    padding: 1%;
    width: 2vw;
}
.recovery-container a{
    margin-top: 4%;
}

/* Styles pour les tablettes */
@media (max-width: 1024px) {
}

/* Styles pour les smartphones */
@media (max-width: 768px) {
    .recovery-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .recovery-form label{
        text-align: center;
    }
    .recovery-form {
        align-items: center;
        width: 100%;
    }
    .input-display img{
        font-size: 3vw;
    }
    .recovery-form .submitLogin {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Styles pour les petits smartphones */
@media (max-width: 480px) {

}
