.sidebar {
  background-color: white;
  border-right: 0.2vw solid #e0e0e0;
  box-shadow: 0.2vw 0.2vw 1vw 0vw rgb(205, 205, 205);
  z-index: 1;
  left: 0;
  top: 0;
  position: fixed;
  width: 20%;
  height: 100vh;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
}

.sidebar.collapsed {
  width: 5%; /* Largeur réduite en mode non déployé */
  align-items: center;
}

.sidebar-title {
  display: flex;
  align-items: center;
  padding: 5%;
  cursor: pointer;
}

.sidebar-title h4 {
  color: #4879F6;
  margin-left: 10px; /* Ajoutez une marge pour espacer le texte de l'icône */
}

.sidebar-main-link,
.sidebar-option-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; /* Alignez les éléments au début */
  text-decoration: none;
  color: #757575;
  font-family: Arial, sans-serif;
  padding:5%;
}

.sidebar-main-links{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10vw;
}
.sidebar-option-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5vw;
}

.sidebar-main-links a,
.sidebar-option-links a {
  display: flex;
  align-items: center;
}

.sidebar-main-links img,
.sidebar-title img,
.sidebar-option-links img {
  width: 3vw;
  height: 3vw;
  margin-right: 10px; /* Espacement entre l'icône et le texte */
}

.sidebar-main-link:hover,
.sidebar-option-link:hover {
  opacity: 80%;
  background-color: #4879F6;
  cursor: pointer;
}
