.Sidebar {
  z-index: 1;
  left: 0;
  top: 0;
  position: fixed;
  width: 25%;
}

.custom-sidebar {
  background-color: white;
  border-right: 0.2vw solid #e0e0e0;
  box-shadow: 0.2vw 0.2vw 1vw 0vw rgb(205, 205, 205);
}

.menu-toggle {
  display: flex;
  align-items: center;
  text-align: center;
}

.ps-menu-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.sidebar-title {
  font-size: 1.5vw;
  font-weight: bold;
  color: #4a90e2;
  font-family: "Merriweather Sans";
}

.ps-menu-button:hover {
  opacity: 60%;
}

.ps-menu-button a {
  text-decoration: none;
  color: black;
  margin-left: 20%;
}

.sidebar-icon {
  width: 2.5vw;
  height: 2.5vw;
}

.main-links {
  margin-top: 20vh;
}

.option-links {
  margin-top: 20vh;
}

/* Styles pour les smartphones */
@media (max-width: 768px) {

}